header{
  background-image: url(images/contact.png);
}

footer {
  padding: 20px;
  display: flex;
  color: #ddd;
  background-color: rgba(37, 37, 37);
}

p {
  font-size: large;
  display: flex;
  justify-content: end;
}

form {
  display: flex;
  flex-direction: column;
}

div {
  margin: 10px 50px;
}

div input {
  width: 100%;
  background-color: #dde6f5;
}


#submit {

  color: white;
  background-color: #115de9;
  width: 5em;
  height: 2.5em;
  border-radius: 0.5em;
  border-color: #115de9;

}

textarea {
  resize: none;
  width: 100%;
  height: 200px;
  background-color: #dde6f5;

}

