/* général */

body {
  font-family: Arial, sans-serif;
  margin: 0;
}


/* navigation */

#icon {
  display: none;
}
  
nav {
  position: fixed;
  width: 150px;
  background-color: #115de9;
  height: 100%;
}

#logo {
  width: 90%;
  margin-bottom: 30px;
}
  
nav a {
  display: flex;
  color: white;
  text-decoration: none;
  padding: 10px;
}
  
nav a:hover {
  background-color: white;
  color: black;
}

nav ul {
  padding-left: 20px;

}
nav li {
  list-style: none;
}

.categories {
  border-left: solid white;
}

#actif {

  color: darkorange;
  font-weight: bold;

}
  

/* contenu */

header, main, footer {
  flex-grow: 1;
  margin-left: 150px; 
}

header{
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 150px;
  font-size: 30px;
  text-align: center;
}

main {
  padding: 20px;

}

footer {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  background-color: #363636;;
}

footer img{
  height: 100px;
}

#presentation {
  background-color: #bed3fa;
  padding: 30px;
  width: 800px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;

}

hr {
  width: 70%;
}


/* responsive */

@media  (max-width: 800px) {
  nav {
    display: none;
  }

  header, main, footer {
    margin-left: 0;
  }

  section {
    margin: 0;
  }

  main {
    padding: 0;
  
  }

  #icon {
    display: block;
    position: fixed;
    color: #115de9;
    text-decoration: none;
    font-size: 50px;
  }

  .active {
    display: block;
  }

}